<html class="h-full antialiased" lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/assets/app.css" />
    <script type="text/javascript" src="/assets/app.js" />
    <%= render_slot(@head) %>
  </head>
  <body class="flex h-full flex-col bg-zinc-50">
    <div class="fixed inset-0 flex justify-center sm:px-8">
      <div class="flex w-full max-w-7xl lg:px-8">
        <div class="w-full bg-white ring-1 ring-zinc-100" />
      </div>
    </div>
    <div class="relative">
      <.nav page={@page} />

      <main>
        <%= render_slot(@inner_block) %>
      </main>

      <.footer />
    </div>
  </body>
</html>
