<!DOCTYPE html>
<html class="h-full antialiased" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png" />
    <link rel="shortcut icon" href="/assets/favicon.ico" />

    <link rel="stylesheet" href="/assets/app.css" />
    <script type="text/javascript" src="/assets/app.js" />
    <%= render_slot(@head) %>
  </head>
  <body class="flex h-full flex-col bg-zinc-50">
    <div class="fixed inset-0 flex justify-center sm:px-8">
      <div class="flex w-full max-w-7xl lg:px-8">
        <div class="w-full bg-white ring-1 ring-zinc-100" />
      </div>
    </div>
    <div class="relative">
      <.nav page={@page} />
      <main>
        <%= render_slot(@inner_block) %>
      </main>

      <.footer />
    </div>
  </body>

  <.live_reload_component :if={Mix.env() == :dev} />
</html>
