<html>
  <head>
    <link rel="stylesheet" href="/assets/app.css" />
    <script type="text/javascript" src="/assets/app.js" />
  </head>
  <body>
    <%= render_slot(@inner_block) %>
  </body>
</html>
